@font-face {
  font-family: "Actay";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Actay.woff2") format("woff2"), url("../../fonts/Actay.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Actay-Wide";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Actay-Wide.woff2") format("woff2"), url("../../fonts/Actay-Wide.woff") format("woff");
  font-display: swap;
}
