$font: "Actay", "Arial", sans-serif;
$font-alt: "Actay-Wide", "Arial", sans-serif;
$base-light: #ffffff;
$base-dark: #000000;
$base-alt-dark: #f2f3ef;
$base-alt: #f6ffd2;
$bg: #5e7600;
$min-width-mobile: 320px;
$min-width-desktop: 1280px;
